/* Global */
/* header */

.header{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    
}
.ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    
}
.ul li{
    list-style: none;
}
.ul li a{
    text-decoration: none;
}

.headerdiv input{
    border-radius: 20px;
    width: 60%;
}
.fa-shopping-cart{
    position: relative;
    right: 40px;
    top: 2px;
}
/* media query for header */

@media only screen  and (max-width:524px){
    .header,.ul{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
}
@media only screen and (min-width:523px) and (max-width:768px){
    .header,.ul{
        grid-template-columns: repeat(2,1fr);
        text-align: center;
    }
}
@media only screen and (min-width:769px){
    .header{
        grid-template-columns: repeat(4,1fr);
        text-align: center;
    }
    .ul{
        grid-template-columns: repeat(6,1fr);
        text-align: center;
    }
}

/* hero */
.hero-main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   background-color: skyblue;
   background-size: cover;
   
}
.hero-text{
    text-align: center;
    margin-top: 250px;
}
/* media queri for hero */
@media only screen and (max-width:527px){
    .hero-main{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
       background-size: cover;
    }
    /* .hero img{
        box-sizing: border-box;
    } */
}
@media only screen and (min-width:528px) {
    .hero-main{
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        
    }
}

/* shop catagory */

.shopcategory{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* position: absolute; */
}
.fig-own{
    position: relative;
    top: -300px;
    right: -365px;
}
/* media for shop catagory */
@media only screen and (max-width:768px){
    .shopcategory{
        grid-template-columns: repeat(1,1fr);
    }
}
@media only screen  and (min-width:769px){
    .shopcategory{
        grid-template-columns: repeat(3,1fr);
    }
}

/* products */

.product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   background-color:beige;
  width: 100%;

}
.product-text{
    margin-top: 350px;
}
.product-img{
   margin-top: 500px;
}
/* media for product */

@media only screen and (max-width:524px) {
    .product{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
}
@media only screen and (min-width:525px) and (max-width:768px){
    .product{
        grid-template-columns: repeat(2,1fr);
        text-align: center;
    }
}
@media only screen and (min-width:769px){
    .product{
        grid-template-columns: repeat(3,1fr);
        text-align: center;
    }
}

/* collection */

.collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}
.men-winter{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.men-winter p{
    margin-left: 200px;
    margin-top: 60px;
}
/* media for collection */
@media only screen and (max-width:524px){
    .collection{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
}
@media only screen and (min-width:525px) and (max-width:768px){
    .collection{
        grid-template-columns: repeat(2,1fr);
    }
}
/* Latest offer  */
.latestoffer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    background-color: aliceblue;
}
.last-input{
    margin-top: 20px;
}
/* media for latest */
@media only screen and (max-width:768px){
    .latestoffer{
        grid-template-columns: repeat(1,1fr);
    }
}
/* icon part */
.icon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}
/* media for icon */

@media only screen and (max-width:524px){
    .icon{
        grid-template-columns: repeat(1,1fr);
    }
}
@media only screen and  (min-width:525px)and (max-width:768px){
    .icon{
        grid-template-columns: repeat(2,1fr);
    }
}

/* footer */

.address{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
.address li{
    list-style: none;
}

/* media for footer */
@media only screen and (max-width:524px){
    .address{
        grid-template-columns: repeat(1,1fr);
    }
}
@media only screen and  (min-width:525px) and (max-width:768px){
    .address{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (min-width:769px){
    .address{
        grid-template-columns: repeat(4,1fr);
    }
}